p {
    width: 160px;
    height: 50px;
    overflow: visible; /*dibujara el borde si es necesario*/
    border: 1px solid red; /*con esta propiedad veremos como funciona overflows*/
   } /*Recordemos que por defecto la propiedad y el valor overflow:visible esta definido por defecto*/


/*p {
    width: 160px;
    height: 50px;
    overflow: hidden;
    border: 1px solid red; //con esta propiedad veremos como funciona overflows
}
//se cortara el contenido de acuerdo al width y al height 
*/

/* p {
    width: 160px;
    height: 50px;
    overflow: scroll; //Se crea un scroll respetando el height y el width, como el height es mayor, es scroll se crea respecto a Y
    border: 1px solid red;
} */

/* p {
    width: 160px; //intenta quitando esta propiedad
    height: 50px; //o tal vez intenta remover esta
    overflow: auto; // se creara un scroll solo si encuentra un width o un height que delimite el contenido
    border: 1px solid red;
} */